{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>Welcome, {{ app.user.userIdentifier }}!</h1>
    {% else %}
        <h1>Home</h1>
    {% endif %}
{% endblock %}
